/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

div#wrap {
    width: 100%;
    min-width: 1340px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
    font-weight: bold;
}


/* HEADER 영역 */

div#wrap>header#header {
    background-color: #faf9f9;
    padding: 10px 0 20px 0;
    width: 100%;
}

div#wrap>header#header>div#topBar {
    width: 70%;
    min-width: 1340px;
    margin: 0 auto;
}

div#wrap>header#header>div#topBar>ul#recruitment,
div#wrap>header#header>div#topBar>ul#recruitment>li {
    display: inline-block;
}

div#wrap>header#header>div#topBar>ul#recruitment {
    float: left;
}

div#wrap>header#header>div#topBar>ul#recruitment>li {
    margin: 0 5px;
}

div#wrap>header#header>div#topBar>ul#recruitment>li>a {
    font-size: 12px;
}

div#wrap>header#header>div#topBar>ul#recruitment>li>a>img {
    vertical-align: middle;
    margin-right: 5px;
}

div#wrap>header#header>div#topBar>ul#userMenu,
div#wrap>header#header>div#topBar>ul#userMenu>li {
    display: inline-block;
}

div#wrap>header#header>div#topBar>ul#userMenu {
    float: right;
}

div#wrap>header#header>div#topBar>ul#userMenu>li {
    margin: 0 5px;
}

div#wrap>header#header>div#topBar>ul#userMenu>li>a {
    font-size: 12px;
}

div#wrap>header#header>div.logo {
    text-align: center;
    padding-top: 15px;
}


/* NAV 영역 */

div#wrap>nav#nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

div#wrap>nav#nav>div#menuFrame {
    width: 70%;
    min-width: 1340px;
    height: 55px;
    position: relative;
    margin: 0 auto;
    font-weight: bold;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu {
    display: flex;
    justify-content: space-between;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li {
    display: inline-block;
    line-height: 55px;
    margin: 0 10px;
    position: relative;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li>i {
    cursor: pointer;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li#navLogo {
    display: none;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li:nth-child(n+3):nth-child(-n+5)>a {
    font-family: 'Rubik', sans-serif;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li>div {
    height: 40px;
    border-bottom: 1px solid #000000;
    display: inline-block;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li>div>input {
    border: none;
    outline: none;
    width: 150px;
}

div#wrap>nav#nav>div#menuFrame>ul#mainMenu>li>div>i {
    cursor: pointer;
}


/*인기검색어 영역*/

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord {
    position: absolute;
    width: 1000px;
    height: 230px;
    background-color: #fff;
    top: 55px;
    right: 0px;
    border: 1px solid #cccccc;
    padding: 15px;
    display: none;
    z-index: 1;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord {
    width: 600px;
    text-align: left;
    float: left;
    margin-right: 20px;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord>hr {
    border: 2px solid #ac6504;
    margin: 10px 0;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord>ul {
    display: inline-block;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord>div>ul>li {
    height: 30px;
    color: #ac6504;
    margin-left: 10px;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#keyWord>div>ul>li>a {
    margin-left: 10px;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#tagImg>ul>li {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: left;
}

div#wrap>nav#nav>div#menuFrame>div#trendKeyWord>div#tagImg>ul>li>a>img {
    width: 350px;
    height: 95px;
}


/* MAIN 영역 */

div#wrap>main#main {
    width: 100%;
    margin: 0 auto;
}

div#wrap>main#main>div#loginFrame {
    width: 70%;
    min-width: 1340px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px 0;
}

div#wrap>main#main>div#loginFrame>div#userLogin>form#loginForm>input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    outline: none;
}

div#wrap>main#main>div#loginFrame>div#userLogin>h2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

div#wrap>main#main>div#loginFrame>div#userLogin>form#loginForm>input::placeholder {
    padding-left: 10px;
}

div#wrap>main#main>div#loginFrame>div#userLogin>button#loginBtn {
    width: 300px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #cb241e;
    border: none;
    outline: none;
}

div#wrap>main#main>div#loginFrame>div#userLogin>div {
    text-align: left;
    margin-top: 10px;
}

div#wrap>main#main>div#loginFrame>div#userLogin>div>input {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

div#wrap>main#main>div#loginFrame>div#userLogin>div>span {
    display: inline-block;
    width: 70px;
}

div#wrap>main#main>div#loginFrame>div#userLogin>div>a {
    float: right;
}

div#wrap>main#main>div#easyLogin {
    width: 70%;
    min-width: 1340px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px 0;
}

div#wrap>main#main>div#easyLogin>div {
    text-align: left;
}

div#wrap>main#main>div#easyLogin>a {
    /* vertical-align: bottom; */
}

div#wrap>main#main>div#easyLogin>div>h2 {
    font-size: 24px;
}

div#wrap>main#main>div#easyLogin>div>h5 {
    font-size: 16px;
}

div#wrap>main#main>div#joinText>h2 {
    margin-bottom: 10px;
    margin: 30px 0;
}

div#wrap>main#main>div#joinText>p {
    font-size: 20px;
    padding: 30px 0;
}

.textBoldRed {
    color: #cc0000;
}

div#wrap>main#main>div#joinText>hr {
    width: 70%;
    min-width: 1340px;
    margin: 0 auto;
}

div#wrap>main#main>div#joinText>a {
    display: inline-block;
    width: 550px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
}


/* FOOTER 영역 */

div#wrap>footer#footer {
    width: 100%;
    padding-top: 100px;
    text-align: left;
}

div#wrap>footer#footer>div#info {
    width: 100%;
    min-width: 1340px;
    background-color: #f9f9f9;
    padding: 60px 0 90px 0;
    text-align: center;
}

div#wrap>footer#footer>div#info>ul {
    display: inline-block;
    vertical-align: top;
    width: 330px;
    text-align: left;
}

div#wrap>footer#footer>div#info>ul:nth-child(4) {
    height: 150px;
}

div#wrap>footer#footer>div#info>ul>li>span.infoUlName {
    font-weight: bold;
    margin: 25px 0;
    display: inline-block;
}

div#wrap>footer#footer>div#info>ul>li>ul>li>span.infoUlName {
    font-weight: bold;
    margin: 25px 0;
    display: inline-block;
}

div#wrap>footer#footer>div#info>ul>li>ul>li>a>i {
    color: #cccccc;
}

div#wrap>footer#footer>div#companyInfo {
    background-color: #e1e1e1;
    padding: 30px 0;
}

div#wrap>footer#footer>div#companyInfo>div#companyInfoText {
    width: 70%;
    min-width: 1340px;
    text-align: left;
    background-color: #e1e1e1;
    margin: 0 auto;
}

div#wrap>footer#footer>div#companyInfo>div#companyInfoText>p {
    font-size: 12px;
    line-height: 25px;
}

div#wrap>footer#footer>div#companyInfo>div#companyInfoText>p>span#bizInfo {
    display: inline-block;
    background-color: #cccccc;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}


/* modalLayerPopup */

div#modalLayerPopup {
    width: 316px;
    height: 410px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
}

div#modalLayerPopup>img {
    width: 500px;
    height: 510px;
}

div#modalLayerPopup>input {
    margin-left: 10px;
}

div#modalLayerPopup>i {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}


/* SUBMENU 영역*/

div#subMenu {
    width: 100%;
    min-width: 1600px;
    height: 1080px;
    background-color: #f4f0ec;
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    padding-top: 30px;
    font-size: 12px;
}

div#subMenu>div#subMenuWrap {
    width: 70%;
    min-width: 1340px;
    margin: 0 auto;
}

div#subMenu>div#subMenuWrap>div#subMenuTop>i {
    margin: 30px 0;
}

div#subMenu>div#subMenuWrap>div#subMenuTop>a>img {
    width: 80px;
    margin: 30px;
    vertical-align: top;
}

div#subMenu>div#subMenuWrap>div#category {
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div#subMenu>div#subMenuWrap>div#category>div.categorySection {
    text-align: left;
    padding-left: 10px;
}

div#subMenu>div#subMenuWrap>div#category>div.categorySection>ul {
    margin-bottom: 30px;
}

span.subMenuUlTitle {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
}

div#subMenu>div#subMenuWrap>div#category>div.categorySection>ul>li {
    margin: 5px 0;
}

div#subMenu>div#subMenuWrap>div#board>ul {
    width: 250px;
    border-top: 1px solid #000;
    display: inline-block;
    vertical-align: top;
}

span.subMenuBoardUlTitle {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
}

div#subMenu>div#subMenuWrap>div#board>ul:not(:last-child) {
    margin-right: 15px;
}

div#subMenu>div#subMenuWrap>div#board>ul#customerCenter>li,
div#subMenu>div#subMenuWrap>div#board>ul#subMenuMyPage>li {
    display: flex;
    margin-left: 5px;
}

div#subMenu>div#subMenuWrap>div#board>ul#customerCenter>li>a,
div#subMenu>div#subMenuWrap>div#board>ul#subMenuMyPage>li>a {
    width: 50%;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuBanner>li {
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuBanner>li>a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    vertical-align: middle;
    padding: 7px 0 5px 0;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuBanner>li>a>div.subMenuBannerImg>img {
    width: 60px;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuBanner>li>a>div.subMenuBannerText>p>span {
    font-size: 20px;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuEvent>li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

div#subMenu>div#subMenuWrap>div#board>ul#subMenuEvent>li>a>p {
    color: #ff9933;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 5px 0;
}